body > div {
  width: fit-content;
  height: fit-content;
  background: #0f172a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  gap: 10px;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  color: #6b7280;
  background: #1b2234;
  border: solid 1px #323848;
  row-gap: 2px;
  border-radius: 5px;
  padding: 20px 40px;
}

.info img {
  width: 30px;
}

.info p {
  font-weight: 500;
  font-size: 17px;
}

.info h3 {
  font-size: 15px;
}

.button,
.button-2 {
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e293b;
  border: solid 1px #32394a;
  border-radius: 10px;
  gap: 5px;
  transition: 200ms all ease-in-out;
}

.button-2 {
  background: linear-gradient(45deg, #4f46e5, #7c3aed);
}

.lien {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 5px;
  row-gap: 10px;
}

.lien img {
  width: 20px;
}

.lien,
.lien div {
  transition: all ease-in-out 150ms;
}

.lien div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(#3b82f6, #22d3ee);
}

.lien:hover div {
  transform: rotate(-20deg);
}

.button:hover,
.button-2:hover {
  transform: translate(5px, -3px);
  border: solid 2px #aaa;
}

.lien:hover {
  transform: translate(5px, -3px);
  border: solid 2px var(--hover-border, #000);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e293b;
  border: solid 1px #334155;
  padding: 5px 10px;
  border-radius: 15px;
}

.main-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: #1e293b;
  border: solid 1px #334155;
  border-radius: 5px;
}

.main-tag p {
  font-weight: 500;
}
